* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 50px;
}

html, body {
    height: 100%;
    
}

body {
    background-image: url('back.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

center{
    color:aliceblue;
}